header {
	text-align: center;
	margin-bottom: 50px;
}

textarea {
	height: 100px;
	width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 75px;
}

#celeb-container {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-around;
}

.celebrity {
	display: inline-block;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	padding: 15px;
}

.celeb-header {
	text-align: center;
}

.name {
	font-size: 2em;
	margin: 5px 0;
}

.dates {
	margin: 5px 0;
}

.subtitle {
	font-size: 2em;
	margin: 5px 0;
}

img {
	max-height: 400px;
	max-width: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* For every even numbered element, have a light yellow background. */
.celebrity:nth-child(even) {
	background-color: lightyellow;
}

/* For every odd numbered element, have a light blue background. */
.celebrity:nth-child(odd) {
	background-color: lightblue;
}

.add-border {
	border: 5px dotted teal;
}



