#celebrity {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.celeb-header {
	text-align: center;
}

.name {
	font-size: 3em;
	margin: 5px 0;
}

.dates {
	margin: 5px 0;
}

.subtitle {
	font-size: 2em;
	margin: 5px 0;
}

/* For every even numbered element, have a light yellow background. */
#celebrity:nth-child(even) {
	background-color: lightyellow;
}

/* For every odd numbered element, have a light blue background. */
#celebrity:nth-child(odd) {
	background-color: lightblue;
}

.add-border {
	border: 5px dotted teal;
}



